<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhhl.orderproduct.dao.OrderProductsMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yhhl.orderproduct.model.OrderProducts" >
	<result column="order_prod_id" property="orderProdId"/>
	<result column="order_id" property="orderId"/>
	<result column="prod_id" property="prodId"/>
	<result column="prod_name" property="prodName"/>
	<result column="unit_price" property="unitPrice"/>
	<result column="prod_num" property="prodNum"/>
</resultMap>
       
<!-- order_products table all fields -->
<sql id="Base_Column_List" >
	 order_prod_id,order_id,prod_id,prod_name,unit_price,prod_num
</sql>
   
   
<!-- 查询条件 -->
<sql id="whereOrderProductsClause">
where 1=1
<trim  suffixOverrides="," >
	<if test="orderProdId != null and orderProdId != ''" >
	    and order_prod_id =  #{orderProdId}
	</if>
	<if test="orderId != null and orderId != ''" >
	    and order_id =  #{orderId}
	</if>
	<if test="prodId != null and prodId != ''" >
	    and prod_id =  #{prodId}
	</if>
	<if test="prodName != null and prodName != ''" >
	    and prod_name =  #{prodName}
	</if>
	<if test="unitPrice != null and unitPrice != ''" >
	    and unit_price =  #{unitPrice}
	</if>
	<if test="prodNum != null and prodNum != ''" >
	    and prod_num =  #{prodNum}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="com.yhhl.orderproduct.model.OrderProducts" >
  insert into order_products (order_prod_id,order_id,prod_id,prod_name,unit_price,prod_num)
 values(#{orderProdId, jdbcType=VARCHAR},#{orderId, jdbcType=VARCHAR},#{prodId, jdbcType=VARCHAR},#{prodName, jdbcType=VARCHAR},#{unitPrice, jdbcType=BIGINT},#{prodNum, jdbcType=INTEGER})
</insert>

<!-- 根据id，修改记录-->  
 <update id="updateByPrimaryKey" parameterType="com.yhhl.orderproduct.model.OrderProducts" >
  update order_products set order_prod_id=#{orderProdId, jdbcType=VARCHAR},order_id=#{orderId, jdbcType=VARCHAR},prod_id=#{prodId, jdbcType=VARCHAR},prod_name=#{prodName, jdbcType=VARCHAR},unit_price=#{unitPrice, jdbcType=BIGINT},=#{prodNum, jdbcType=INTEGER} where order_prod_id=#{orderProdId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateByPrimaryKeySelective" parameterType="com.yhhl.orderproduct.model.OrderProducts" >
	update order_products set 
	<trim  suffixOverrides="," >
	<if test="orderId != null  ">
		order_id=#{orderId, jdbcType=VARCHAR},
	</if>
	<if test="prodId != null  ">
		prod_id=#{prodId, jdbcType=VARCHAR},
	</if>
	<if test="prodName != null  ">
		prod_name=#{prodName, jdbcType=VARCHAR},
	</if>
	<if test="unitPrice != null  ">
		unit_price=#{unitPrice, jdbcType=BIGINT},
	</if>
	<if test="prodNum != null  ">
		=#{prodNum, jdbcType=INTEGER}
	</if>
	</trim> where order_prod_id=#{orderProdId}
</update>

<!-- 删除记录 -->
<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
	delete 	 from order_products where order_prod_id = #{orderProdId}
</delete>
 
<!-- 根据id查询 订单产品 -->
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.util.Map">
	select <include refid="Base_Column_List" /> 
	 from order_products where order_prod_id = #{orderProdId}
</select>

<!-- 分页 data-->
	<select useCache="false" id="getPage" resultMap="BaseResultMap" parameterType="com.yhhl.common.SearchPageUtil">
		select <include refid="Base_Column_List"/> from order_products
		where 1=1
		<trim  suffixOverrides="," >
							<if test="object.orderProdId != null and object.orderProdId != ''" >
			    and order_prod_id =  #{object.orderProdId}
			</if>
							<if test="object.orderId != null and object.orderId != ''" >
			    and order_id =  #{object.orderId}
			</if>
							<if test="object.prodId != null and object.prodId != ''" >
			    and prod_id =  #{object.prodId}
			</if>
							<if test="object.prodName != null and object.prodName != ''" >
			    and prod_name =  #{object.prodName}
			</if>
							<if test="object.unitPrice != null and object.unitPrice != ''" >
			    and unit_price =  #{object.unitPrice}
			</if>
							<if test="object.prodNum != null and object.prodNum != ''" >
			    and prod_num =  #{object.prodNum}
			</if>
			</trim>
		<if test="orderBys!=null">
			order by
			<foreach collection="orderBys" item="item" open="" close=""
				separator=",">
				${item}
			</foreach>
		</if> 
	</select>
<!-- 分页 count -->	
	<select useCache="false" id="getCount" parameterType="java.util.Map" resultType="int">
     SELECT
     count(*)
     FROM order_products 
     where 1=1 
     <trim  suffixOverrides="," >
							<if test="orderProdId != null and orderProdId != ''" >
			    and order_prod_id =  #{orderProdId}
			</if>
							<if test="orderId != null and orderId != ''" >
			    and order_id =  #{orderId}
			</if>
							<if test="prodId != null and prodId != ''" >
			    and prod_id =  #{prodId}
			</if>
							<if test="prodName != null and prodName != ''" >
			    and prod_name =  #{prodName}
			</if>
							<if test="unitPrice != null and unitPrice != ''" >
			    and unit_price =  #{unitPrice}
			</if>
							<if test="prodNum != null and prodNum != ''" >
			    and prod_num =  #{prodNum}
			</if>
			</trim>
   	</select>
  	
</mapper>   
