<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhhl.product.dao.ProductsMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yhhl.product.model.Products" >
	<result column="prod_id" property="prodId"/>
	<result column="prod_code" property="prodCode"/>
	<result column="prod_name" property="prodName"/>
	<result column="unit_price_cost" property="unitPriceCost"/>
	<result column="unit_price_sell" property="unitPriceSell"/>
	<result column="img_url" property="imgUrl"/>
	<result column="remark" property="remark"/>
	<result column="brands" property="brands"/>
	<result column="unit" property="unit"/>
	<result column="specification" property="specification"/>
	<result column="properties" property="properties"/>
	<result column="mark" property="mark"/>
	<result column="type" property="type"/>
	<result column="stock_situation" property="stockSituation"/>
	<result column="sell_num" property="sellNum"/>
	<result column="colors" property="colors"/>
	<result column="create_time" property="createTime"/>
	<result column="modify_time" property="modifyTime"/>
	<result column="express_fee" property="expressFee"/>
	
	<result column="prod_come" property="prodCome"/>
	<result column="prod_come_url" property="prodComeUrl"/>
	<result column="recommend" property="recommend"/>
	<result column="status" property="status"/>
</resultMap>
       
<!-- products table all fields -->
<sql id="Base_Column_List" >
	 prod_id,prod_code,prod_name,unit_price_cost,unit_price_sell,img_url,remark,brands,unit,specification,properties,mark,type,stock_situation,sell_num,colors,create_time,modify_time,express_fee,prod_come,prod_come_url,recommend,status  
</sql>
   
   
<!-- 查询条件 -->
<sql id="whereProductsClause">
where 1=1
<trim  suffixOverrides="," >
	<if test="prodId != null and prodId != ''" >
	    and prod_id =  #{prodId}
	</if>
	<if test="prodCode != null and prodCode != ''" >
	    and prod_code =  #{prodCode}
	</if>
	<if test="prodName != null and prodName != ''" >
	    and prod_name =  #{prodName}
	</if>
	<if test="unitPriceCost != null and unitPriceCost != ''" >
	    and unit_price_cost =  #{unitPriceCost}
	</if>
	<if test="unitPriceSell != null and unitPriceSell != ''" >
	    and unit_price_sell =  #{unitPriceSell}
	</if>
	<if test="imgUrl != null and imgUrl != ''" >
	    and img_url =  #{imgUrl}
	</if>
	<if test="remark != null and remark != ''" >
	    and remark =  #{remark}
	</if>
	<if test="brands != null and brands != ''" >
	    and brands =  #{brands}
	</if>
	<if test="unit != null and unit != ''" >
	    and unit =  #{unit}
	</if>
	<if test="specification != null and specification != ''" >
	    and specification =  #{specification}
	</if>
	<if test="properties != null and properties != ''" >
	    and properties =  #{properties}
	</if>
	<if test="mark != null and mark != ''" >
	    and mark =  #{mark}
	</if>
	<if test="type != null and type != ''" >
	    and type =  #{type}
	</if>
	<if test="colors != null and colors != ''" >
	    and colors =  #{colors}
	</if>
	<if test="createTime != null and createTime != ''" >
	    and create_time =  #{createTime}
	</if>
	<if test="modifyTime != null and modifyTime != ''" >
	    and modify_time =  #{modifyTime}
	</if>
	<if test="expressFee != null and expressFee != ''" >
	    and express_fee =  #{expressFee}
	</if>
	<if test="prodCome != null and prodCome != ''" >
	    and prod_come =  #{prodCome}
	</if>
	<if test="prodComeUrl != null and prodComeUrl != ''" >
	    and prod_come_url =  #{prodComeUrl}
	</if>
	<if test="recommend != null and recommend != ''" >
	    and recommend =  #{recommend}
	</if>
	<if test="status != null and status != ''" >
	    and status =  #{status}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="com.yhhl.product.model.Products" >
  insert into products (prod_id,prod_code,prod_name,unit_price_cost,unit_price_sell,img_url,remark,brands,unit,specification,properties,mark,type,stock_situation,sell_num,colors,create_time,modify_time,express_fee,prod_come,prod_come_url,recommend,status)
 values(#{prodId, jdbcType=VARCHAR},#{prodCode, jdbcType=VARCHAR},#{prodName, jdbcType=VARCHAR},#{unitPriceCost, jdbcType=BIGINT},#{unitPriceSell, jdbcType=BIGINT},#{imgUrl, jdbcType=VARCHAR},#{remark, jdbcType=VARCHAR},#{brands, jdbcType=VARCHAR},#{unit, jdbcType=VARCHAR},#{specification, jdbcType=VARCHAR},#{properties, jdbcType=VARCHAR},#{mark, jdbcType=VARCHAR},#{type, jdbcType=VARCHAR},#{stockSituation, jdbcType=VARCHAR},#{sellNum, jdbcType=VARCHAR},#{colors, jdbcType=VARCHAR},#{createTime, jdbcType=BIGINT},#{modifyTime, jdbcType=BIGINT},#{expressFee, jdbcType=BIGINT},#{prodCome, jdbcType=VARCHAR},#{prodComeUrl, jdbcType=VARCHAR},#{recommend, jdbcType=VARCHAR},#{status, jdbcType=VARCHAR})
</insert>

<!-- 根据id，修改记录-->  
 <update id="updateByPrimaryKey" parameterType="com.yhhl.product.model.Products" >
  update products set prod_id=#{prodId, jdbcType=VARCHAR},prod_code=#{prodCode, jdbcType=VARCHAR},prod_name=#{prodName, jdbcType=VARCHAR},unit_price_cost=#{unitPriceCost, jdbcType=BIGINT},unit_price_sell=#{unitPriceSell, jdbcType=BIGINT},img_url=#{imgUrl, jdbcType=VARCHAR},remark=#{remark, jdbcType=VARCHAR},brands=#{brands, jdbcType=VARCHAR},unit=#{unit, jdbcType=VARCHAR},specification=#{specification, jdbcType=VARCHAR},properties=#{properties, jdbcType=VARCHAR},mark=#{mark, jdbcType=VARCHAR},type=#{type, jdbcType=VARCHAR},stock_situation=#{stockSituation, jdbcType=VARCHAR},sell_num=#{sellNum, jdbcType=VARCHAR},colors=#{colors, jdbcType=VARCHAR},create_time=#{createTime, jdbcType=BIGINT},modify_time=#{modifyTime, jdbcType=BIGINT},express_fee=#{expressFee, jdbcType=BIGINT},prod_come=#{prodCome, jdbcType=VARCHAR},prod_come_url=#{prodComeUrl, jdbcType=VARCHAR},recommend=#{recommend, jdbcType=VARCHAR},status=#{status, jdbcType=VARCHAR} where prod_id=#{prodId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateByPrimaryKeySelective" parameterType="com.yhhl.product.model.Products" >
	update products set 
	<trim  suffixOverrides="," >
	<if test="prodCode != null  ">
		prod_code=#{prodCode, jdbcType=VARCHAR},
	</if>
	<if test="prodName != null  ">
		prod_name=#{prodName, jdbcType=VARCHAR},
	</if>
	<if test="unitPriceCost != null  ">
		unit_price_cost=#{unitPriceCost, jdbcType=BIGINT},
	</if>
	<if test=" != null  ">
		unit_price_sell=#{unitPriceSell, jdbcType=BIGINT},
	</if>
	<if test="imgUrl != null  ">
		img_url=#{imgUrl, jdbcType=VARCHAR},
	</if>
	<if test="remark != null  ">
		remark=#{remark, jdbcType=VARCHAR},
	</if>
	<if test="brands != null  ">
		brands=#{brands, jdbcType=VARCHAR},
	</if>
	<if test="unit != null  ">
		unit=#{unit, jdbcType=VARCHAR},
	</if>
	<if test="specification != null  ">
		specification=#{specification, jdbcType=VARCHAR},
	</if>
	<if test="properties != null  ">
		properties=#{properties, jdbcType=VARCHAR},
	</if>
	<if test="mark != null  ">
		mark=#{mark, jdbcType=VARCHAR},
	</if>
	<if test="type != null  ">
		type=#{type, jdbcType=VARCHAR},
	</if>
	<if test="stockSituation != null  ">
		stock_situation=#{stockSituation, jdbcType=VARCHAR},
	</if>
	<if test="stockSituation != null  ">
		sell_num=#{sellNum, jdbcType=VARCHAR},
	</if>
	<if test="stockSituation != null  ">
		colors=#{colors, jdbcType=VARCHAR},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime, jdbcType=BIGINT},
	</if>
	<if test="modifyTime != null  ">
		modify_time=#{modifyTime, jdbcType=BIGINT}
	</if>
	<if test="expressFee != null  ">
		express_fee=#{expressFee, jdbcType=BIGINT}
	</if>
	<if test="prodCome != null  ">
		prod_come=#{prodCome, jdbcType=BIGINT}
	</if>
	<if test="prodComeUrl != null  ">
		prod_come_url=#{prodComeUrl, jdbcType=BIGINT}
	</if>
	<if test="recommend != null  ">
		recommend=#{recommend, jdbcType=BIGINT}
	</if>
	<if test="status != null  ">
		status=#{status, jdbcType=BIGINT}
	</if>
	</trim> where prod_id=#{prodId}
</update>

<!-- 删除记录 -->
<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
	delete 	 from products where prod_id = #{prodId}
</delete>
 
<!-- 根据id查询 产品表 -->
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.util.Map">
	select <include refid="Base_Column_List" /> 
	 from products where prod_id = #{prodId}
</select>

<!-- 后台分页 data-->
	<select useCache="false" id="getPage" resultMap="BaseResultMap" parameterType="com.yhhl.common.SearchPageUtil">
		select <include refid="Base_Column_List"/> from products
		where 1=1
		<trim  suffixOverrides="," >
			<if test="object.prodId != null and object.prodId != ''" >
			    and prod_id =  #{object.prodId}
			</if>
			<if test="object.prodCode != null and object.prodCode != ''" >
			    and prod_code =  #{object.prodCode}
			</if>
			<if test="object.prodName != null and object.prodName != ''" >
			    and prod_name like concat(concat('%', #{object.prodName}),'%') 
			</if>
			<if test="object.brands != null and object.brands != ''" >
			    and brands =  #{object.brands}
			</if>
			<if test="object.specification != null and object.specification != ''" >
			    and specification =  #{object.specification}
			</if>
			<if test="object.mark != null and object.mark != ''" >
			    and mark =  #{object.mark}
			</if>
			<if test="object.type != null and object.type != ''" >
			    and type =  #{object.type}
			</if>
			<if test="object.stockSituation != null and object.stockSituation != ''" >
			    and stock_situation =  #{object.stockSituation}
			</if>
			<if test="object.colors != null and object.colors != ''" >
			    and colors =  #{object.colors}
			</if>
			<if test="object.createTime != null and object.createTime != ''" >
			    and create_time =  #{object.createTime}
			</if>
			<if test="object.modifyTime != null and object.modifyTime != ''" >
			    and modify_time =  #{object.modifyTime}
			</if>
			<if test="object.expressFee != null and object.expressFee != ''" >
			    and express_fee =  #{object.expressFee}
			</if>
			<if test="object.prodCome != null and object.prodCome != ''" >
			    and prod_come =  #{object.prodCome}
			</if>
			<if test="object.prodComeUrl != null and object.prodComeUrl != ''" >
			    and prod_come_url =  #{object.prodComeUrl}
			</if>
			<if test="object.recommend != null and object.recommend != ''" >
			    and recommend =  #{object.recommend}
			</if>
			<if test="object.status != null and object.status != ''" >
			    and status =  #{object.status}
			</if>
			</trim>
		<if test="orderBys!=null">
			order by
			<foreach collection="orderBys" item="item" open="" close=""
				separator=",">
				${item}
			</foreach>
		</if> 
	</select>
	
	<!-- 后台根据商品名称AJAX检索时调用SQL -->
	<select useCache="false" id="getByProdName" resultMap="BaseResultMap" parameterType="com.yhhl.common.SearchPageUtil">
		select ps.prod_id,ps.prod_name,ps.unit_price_cost,ps.unit_price_sell,
			   st.stock_id stockSituation,dc.dict_value AS colors,ds.dict_value AS specification  
		from products ps 
		left join stocks st on ps.prod_id=st.prod_id
		left join dicts dc on st.colors_id=dc.dict_id
		left join dicts ds on st.specification_id=ds.dict_id
		where status='1'
			<if test="object.prodName != null and object.prodName != ''" >
			    and prod_name like concat(concat('%', #{object.prodName}),'%') 
			</if>
			order by prod_name
	</select>
	
	<!-- 前台 分页 data-->
	<select useCache="false" id="getFrontPage" resultMap="BaseResultMap" parameterType="com.yhhl.common.SearchPageUtil">
		select p.prod_id,p.prod_name,p.unit_price_sell,p.img_url,p.remark,p.brands,p.unit,
		
		stks.remain_num AS stock_situation,
		stks.selled_num as sell_num,
		
		properties,mark,type 
		from products p left join 
		(select prod_id,sum(remain_num) remain_num,sum(selled_num) selled_num from stocks group by prod_id) stks
		on p.prod_id=stks.prod_id
		
		
		where 1=1
		<trim  suffixOverrides="," >
			<if test="object.prodId != null and object.prodId != ''" >
			    and p.prod_id =  #{object.prodId}
			</if>
			<if test="object.prodName != null and object.prodName != ''" >
			    and p.prod_name like concat(concat('%', #{object.prodName}),'%') 
			</if>
			<if test="object.brands != null and object.brands != ''" >
			    and p.brands =  #{object.brands}
			</if>
			<if test="object.specification != null and object.specification != ''" >
			    and p.specification =  #{object.specification}
			</if>
			<if test="object.mark != null and object.mark != ''" >
			    and p.mark =  #{object.mark}
			</if>
			<if test="object.type != null and object.type != ''" >
			    and p.type =  #{object.type}
			</if>
			<if test="object.stockSituation != null and object.stockSituation != ''" >
			    and p.stock_situation =  #{object.stockSituation}
			</if>
			<if test="object.colors != null and object.colors != ''" >
			    and p.colors =  #{object.colors}
			</if>
			<if test="object.recommend != null and object.recommend != ''" >
			    and p.recommend =  #{object.recommend}
			</if>
			<if test="object.keyWords != null and object.keyWords != ''" >
				and 
				<foreach collection="object.keyWords" item="item" open="(" close=")" separator="or">
					p.prod_name like concat(concat('%',#{item}),'%')	
				</foreach>
			</if>
			<if test="object.status != null and object.status != ''" >
			    and p.status =  #{object.status}
			</if>
			</trim>
		<if test="orderBys!=null">
			order by
			<foreach collection="orderBys" item="item" open="" close=""
				separator=",">
				${item}
			</foreach>
		</if> 
	</select>
	
<!-- 分页 count -->	
	<select useCache="false" id="getCount" parameterType="java.util.Map" resultType="int">
     SELECT
     count(*)
     FROM products 
     where 1=1 
     <trim  suffixOverrides="," >
							<if test="prodId != null and prodId != ''" >
			    and prod_id =  #{prodId}
			</if>
							<if test="prodName != null and prodName != ''" >
			    and prod_name like concat(concat('%', #{prodName}),'%') 
			</if>
							<if test="brands != null and brands != ''" >
			    and brands =  #{brands}
			</if>
							<if test="specification != null and specification != ''" >
			    and specification =  #{specification}
			</if>
							<if test="mark != null and mark != ''" >
			    and mark =  #{mark}
			</if>
							<if test="type != null and type != ''" >
			    and type =  #{type}
			</if>
			<if test="stockSituation != null and stockSituation != ''" >
			    and stock_situation =  #{stockSituation}
			</if>
			<if test="colors != null and colors != ''" >
			    and colors =  #{colors}
			</if>
							<if test="createTime != null and createTime != ''" >
			    and create_time =  #{createTime}
			</if>
			<if test="modifyTime != null and modifyTime != ''" >
			    and modify_time =  #{modifyTime}
			</if>
			<if test="expressFee != null and expressFee != ''" >
			    and express_fee =  #{expressFee}
			</if>
			<if test="prodCome != null and prodCome != ''" >
			    and prod_come =  #{prodCome}
			</if>
			<if test="prodComeUrl != null and prodComeUrl != ''" >
			    and prod_come_url =  #{prodComeUrl}
			</if>
			<if test="recommend != null and recommend != ''" >
			    and recommend =  #{recommend}
			</if>
			<if test="keyWords != null and keyWords != ''" >
				and 
				<foreach collection="keyWords" item="item" open="(" close=")" separator="or">
					prod_name like concat(concat('%',#{item}),'%')	
				</foreach>
			</if>
			<if test="status != null and status != ''" >
			    and status =  #{status}
			</if>
			</trim>
   	</select>
  	<select useCache="false" id="getList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="Base_Column_List"/> from products
		where 1=1
		<if test="startDate !=null and startDate !=''">
			<![CDATA[ and modify_time >= #{startDate}  ]]>
		</if>
		<if test="endDate !=null and endDate !=''">
			<![CDATA[ and modify_time <= #{endDate}  ]]>
		</if>
	</select>
</mapper>   
