<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhhl.roleuser.dao.RoleUserMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yhhl.roleuser.model.RoleUser" >
	<result column="id" property="id"/>
	<result column="role_id" property="roleId"/>
	<result column="user_id" property="userId"/>
</resultMap>
       
<!-- role_user table all fields -->
<sql id="Base_Column_List" >
	 id,role_id,user_id
</sql>
   
   
<sql id="whereRoleUserClause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="roleId != null and roleId != ''" >
	    and role_id =  #{roleId}
	</if>
	<if test="userId != null and userId != ''" >
	    and user_id =  #{userId}
	</if>
</trim>
</sql>
   

<insert id="insert" parameterType="com.yhhl.roleuser.model.RoleUser" >
  insert into role_user (id,role_id,user_id)
 values(#{id, jdbcType=VARCHAR},#{roleId, jdbcType=VARCHAR},#{userId, jdbcType=VARCHAR})
</insert>

 <update id="updateByPrimaryKey" parameterType="com.yhhl.roleuser.model.RoleUser" >
  update role_user set id=#{id, jdbcType=VARCHAR},role_id=#{roleId, jdbcType=VARCHAR},user_id=#{userId, jdbcType=VARCHAR} where id=#{id}
 </update>
 
<update id="updateByPrimaryKeySelective" parameterType="com.yhhl.roleuser.model.RoleUser" >
	update role_user set 
	<trim  suffixOverrides="," >
	<if test="roleId != null  ">
		role_id=#{roleId, jdbcType=VARCHAR},
	</if>
	<if test="userId != null  ">
		user_id=#{userId, jdbcType=VARCHAR}
	</if>
	</trim> where id=#{id}
</update>

<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
	delete 	 from role_user where id = #{id}
</delete>
 
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.util.Map">
	select <include refid="Base_Column_List" /> 
	 from role_user where id = #{id}
</select>

	<select useCache="false" id="getPage" resultMap="BaseResultMap" parameterType="com.yhhl.common.SearchPageUtil">
		select <include refid="Base_Column_List"/> from role_user
		where 1=1
		<trim  suffixOverrides="," >
							<if test="object.id != null and object.id != ''" >
			    and id =  #{object.id}
			</if>
							<if test="object.roleId != null and object.roleId != ''" >
			    and role_id =  #{object.roleId}
			</if>
							<if test="object.userId != null and object.userId != ''" >
			    and user_id =  #{object.userId}
			</if>
			</trim>
		<if test="orderBys!=null">
			order by
			<foreach collection="orderBys" item="item" open="" close=""
				separator=",">
				${item}
			</foreach>
		</if> 
	</select>
	<select useCache="false" id="getCount" parameterType="java.util.Map" resultType="int">
     SELECT
     count(*)
     FROM role_user 
     where 1=1 
     <trim  suffixOverrides="," >
							<if test="id != null and id != ''" >
			    and id =  #{id}
			</if>
							<if test="roleId != null and roleId != ''" >
			    and role_id =  #{roleId}
			</if>
							<if test="userId != null and userId != ''" >
			    and user_id =  #{userId}
			</if>
			</trim>
   	</select>
  	
</mapper>   
