dl dd label.error{float:left;_float:none;width:272px;color:#f60;padding-left:18px;background: url(../../images/error_icon.jpg) 1px center no-repeat;line-height:22px;}
span.errorMsg{float:left;_float:none;width:272px;color:#f60;padding-left:18px;line-height:22px;}
div ul li label.error{float:left;_float:none;width:272px;text-align: left;color:#f60;padding-left:18px;background: url(../../images/error_icon.jpg) 1px center no-repeat;line-height:22px;}
.box{border:1px solid 
#C0C0C0;width:285px;height:36px;clip:rect(0px,284px,35px,0px);overflow:hidden;} 
.box2{border:1px solid 
#F4F4F4;width:284px;height:35px;clip:rect(0px,283px,34px,0px);overflow:hidden;} 
select{position:relative;left:-2px;top:-2px;font-size:14px;height:35px;width:285px;line-height:36px;bo rder:0px;color:#909993;} 

