/* ===== retrie分类下来 ===== */
@CHARSET "UTF-8";

/**下拉**/
.topmenu{
	width:100%;
	position: fixed;
	top: 40px;
	background-color: #fff;
}
.topmenu dt{
	width:50%;
	float:left;
}
.selectlist{
	width:100%;
	height:auto;
	box-sizing: border-box;
}
.select_textdiv{
	height:3rem;
	width:100%;
	line-height: 3rem;
	text-align: center;
	border-bottom: 2px solid #b3b3b3;
	position:relative;
	border-left:2px solid -webkit-linear-gradient(red, blue);
}
.select_textul{
	width:100%;
	line-height: 3rem;
	box-sizing: border-box;
	display: none;
	width: 980px;
    
}
.select_first_ul{
	width: 100%;
    background: #fff;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    max-height: 30rem;
    overflow-y: scroll;
}
.select_first_ul>li{
	padding: 0 0.5rem;
	box-sizing: border-box;
}
.select_first_ul>li>p{
	width: 50%;
    padding: 0 1rem;
    box-sizing: border-box;
    border-bottom:1px #b1b1b1 solid;
}
.focus>p{
	border-bottom:1px #FF9800 solid !important;
	color:#FF9800;
}
.select_second_ul{
	width: 50%;
    position: absolute;
    right: 0px;
    top: 0;
    background: #fff;
    display: none;
    box-sizing: border-box;
    padding-left: 0.5rem;
    /*z-index: 1;*/
}

.down{
	position: absolute;
    top: 0;
    right: 0.5rem;
    display: inline-block;
    width:1rem;
    height:100%;
}
.down img{
	width:1rem;
	margin-top: 1rem;
}
.divfocus::after{
	position: absolute;
	bottom:0;
	left:46%;
	border-bottom:0.5rem solid #FF9800;
	border-left:0.5rem solid transparent;
	border-right:0.5rem solid transparent;
	content: "";
}
.focusli{
	background: #ffc107;
	color: #FFFFFF;
}
.select_second_ul>li{
	padding: 0 0.5rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eaeaea;
}