/*
JQuery EasyUI 1.5.x of Insdep Theme 1.0.0
演示地址：https://www.insdep.com/example/
下载地址：https://www.insdep.com
问答地址：https://bbs.insdep.com

项目地址：http://git.oschina.net/weavors/JQuery-EasyUI-1.5.x-Of-Insdep-Theme

QQ交流群：184075694 （优先发布更新主题及内测包）
*/
.icon-blank{
	background:url('../../js/easyui/themes/insdep/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../../js/easyui/themes/insdep/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('../../js/easyui/themes/insdep/icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('../../js/easyui/themes/insdep/icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('../../js/easyui/themes/insdep/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../../js/easyui/themes/insdep/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../../js/easyui/themes/insdep/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../../js/easyui/themes/insdep/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../../js/easyui/themes/insdep/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../../js/easyui/themes/insdep/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../../js/easyui/themes/insdep/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../../js/easyui/themes/insdep/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('../../js/easyui/themes/insdep/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('../../js/easyui/themes/insdep/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../../js/easyui/themes/insdep/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../../js/easyui/themes/insdep/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../../js/easyui/themes/insdep/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../../js/easyui/themes/insdep/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../../js/easyui/themes/insdep/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('../../js/easyui/themes/insdep/icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('../../js/easyui/themes/insdep/icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('../../js/easyui/themes/insdep/icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('../../js/easyui/themes/insdep/icons/more.png') no-repeat center center;
}
.icon-set{
	background:url('../../js/easyui/themes/insdep/icons/set.png') no-repeat center center;
}
.icon-cog{
	background:url('../../js/easyui/themes/insdep/icons/cog.png') no-repeat center center;
}
.icon-lock-password{
	background:url('../../js/easyui/themes/insdep/icons/lock_password.png') no-repeat center center;
}
.icon-lock-go{
	background:url('../../js/easyui/themes/insdep/icons/lock_go.png') no-repeat center center;
}
.icon-refresh{
	background:url('../../js/easyui/themes/insdep/icons/arrow_refresh.png') no-repeat center center;
}
.icon-sort{
	background:url('../../js/easyui/themes/insdep/icons/sort_number.png') no-repeat center center;
}
.icon-repair{
	background:url('../../js/easyui/themes/insdep/icons/wrench.png') no-repeat center center;
}

.icon-folder-search{
	background:url('../../js/easyui/themes/insdep/icons/folder_search.png') no-repeat center center;
}
.icon-user-config{
	background:url('../../js/easyui/themes/insdep/icons/user_config.png') no-repeat center center;
}
.icon-recover-deleted-items{
	background:url('../../js/easyui/themes/insdep/icons/recover_deleted_items.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../../js/easyui/themes/insdep/icons/mini-append.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../../js/easyui/themes/insdep/icons/mini-pencil.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../../js/easyui/themes/insdep/icons/mini-reload.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../../js/easyui/themes/insdep/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../../js/easyui/themes/insdep/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../../js/easyui/themes/insdep/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../../js/easyui/themes/insdep/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../../js/easyui/themes/insdep/icons/large_chart.png') no-repeat center center;
}
