<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhhl.book.dao.TBookMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yhhl.book.model.TBook" >
	<result column="id" property="id"/>
	<result column="book_name" property="bookName"/>
	<result column="transaction_xid" property="transactionXid"/>
</resultMap>
       
<!-- t_book table all fields -->
<sql id="Base_Column_List" >
	 id,book_name,transaction_xid
</sql>
   
   
<sql id="whereTBookClause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="bookName != null and bookName != ''" >
	    and book_name =  #{bookName}
	</if>
	<if test="transactionXid != null and transactionXid != ''" >
	    and transaction_xid =  #{transactionXid}
	</if>
</trim>
</sql>
   

<insert id="insert" parameterType="com.yhhl.book.model.TBook" >
  insert into t_book (id,book_name,transaction_xid)
 values(#{id, jdbcType=VARCHAR},#{bookName, jdbcType=VARCHAR},#{transactionXid, jdbcType=VARCHAR})
</insert>

 <update id="updateByPrimaryKey" parameterType="com.yhhl.book.model.TBook" >
  update t_book set id=#{id, jdbcType=VARCHAR},book_name=#{bookName, jdbcType=VARCHAR},transaction_xid=#{transactionXid, jdbcType=VARCHAR} where id=#{id}
 </update>
 
<update id="updateByPrimaryKeySelective" parameterType="com.yhhl.book.model.TBook" >
	update t_book set 
	<trim  suffixOverrides="," >
	<if test="bookName != null  ">
		book_name=#{bookName, jdbcType=VARCHAR},
	</if>
	<if test="transactionXid != null  ">
		transaction_xid=#{transactionXid, jdbcType=VARCHAR}
	</if>
	</trim> where id=#{id}
</update>

<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
	delete 	 from t_book where id = #{id}
</delete>
 
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.util.Map">
	select <include refid="Base_Column_List" /> 
	 from t_book where id = #{id}
</select>

	<select useCache="false" id="getPage" resultMap="BaseResultMap" parameterType="com.yhhl.common.SearchPageUtil">
		select <include refid="Base_Column_List"/> from t_book
		where 1=1
		<trim  suffixOverrides="," >
							<if test="object.id != null and object.id != ''" >
			    and id =  #{object.id}
			</if>
							<if test="object.bookName != null and object.bookName != ''" >
			    and book_name =  #{object.bookName}
			</if>
							<if test="object.transactionXid != null and object.transactionXid != ''" >
			    and transaction_xid =  #{object.transactionXid}
			</if>
			</trim>
		<if test="orderBys!=null">
			order by
			<foreach collection="orderBys" item="item" open="" close=""
				separator=",">
				${item}
			</foreach>
		</if> 
	</select>
	<select useCache="false" id="getCount" parameterType="java.util.Map" resultType="int">
     SELECT
     count(*)
     FROM t_book 
     where 1=1 
     <trim  suffixOverrides="," >
							<if test="id != null and id != ''" >
			    and id =  #{id}
			</if>
							<if test="bookName != null and bookName != ''" >
			    and book_name =  #{bookName}
			</if>
							<if test="transactionXid != null and transactionXid != ''" >
			    and transaction_xid =  #{transactionXid}
			</if>
			</trim>
   	</select>
  	
</mapper>   
