<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/task 
       		http://www.springframework.org/schema/task/spring-task.xsd 
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
		">

	<context:property-placeholder location="classpath:config.properties" />

	<context:component-scan base-package="com.yhhl" />
	
	
	<bean id="springContextHolder" class="com.yhhl.common.SpringContextHolder" />  
	
	<bean id="idWorker" class="com.yhhl.common.IdWorker">
		<constructor-arg name="workerId">
			<value>1</value>
		</constructor-arg>
		<constructor-arg name="datacenterId">
			<value>1</value>
		</constructor-arg>
	</bean>
	
	<bean id="imageUtil" class="com.yhhl.common.ImageUtil" />
	<bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
        <property name="location" value="classpath:freemarker.properties" />  
    </bean>
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
         <property name="templateLoaderPath" value="/WEB-INF/views/templates" />  
         <property name="defaultEncoding" value="utf-8" />  
         <property name="freemarkerSettings" ref="freemarkerConfiguration"/>  
         <!--设置一些常用的全局变量-->  
         <property name="freemarkerVariables">  
             <map>  
                 <entry key="webRoot" value="/webapp"/>    
                 <entry key="jsRoot" value="/front-mobile-static"/>     
             </map>  
         </property>
     </bean>
     
     <!-- 计划任务配置，用 @Service @Lazy(false)标注类，用@Scheduled(cron = "0 0 2 * * ?")标注方法 -->
    <task:executor id="executor" pool-size="10"/> 
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true"/>   
</beans>